
.main {
    background-image: url(img/Header-llustration-desktop@2x.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;

}

section{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;    
}

.head-line {
    flex-direction: column;
}

.navbar-nav{
margin: 0;    
}

#scrollspyHeading1{
min-height: 114px;    
}

.card{
background-color: #ebf0ee;    
border: none;
}

.works{
padding-top: 20px;    
}

@media (max-width: 767px) {
  .navbar-nav{
  display: none;  
  }  
}
